
#hero{
  overflow: hidden;
}
#intro {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(6, 158, 158);
   

}
#newfeatures {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#lastbg {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#form {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("formpic.png");
}


img.resize {
  width:540px; /* you can use % */
  height: auto;
}

.container{
  max-width:900px;
  
}
#gallery{
  
  float: left;
}

#gallery img{
  width:100%;
  height: 250px;
}
.example {
  background-color:teal;
  width: 100%;
 } 

 .container2{
  max-width: 1300px;
  margin: auto;
  
 }

#gallery2{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 500px;
}

#gallery2 img{
  width: 100%;
  height: 60%;
}

.desc{
  padding: 15px;
  text-align: center;
}

#lastpg{
  height: 100vh;
  width: 100%;


}