main img {
  width: 100%
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro .container {
  padding: 10px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

#intro img {
  width: 20%;
}

#intro span {
  grid-row: 1 / 3;
}

#newfeatures {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lastbg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("formpic.png");
}

img.resize {
  width:540px; /* you can use % */
  height: auto;
}

.container{
  max-width:900px;
  
}
#gallery{
  
  float: left;
}

#gallery img{
  width:100%;
  height: 450px;
}
.example {
  background-color:teal;
  width: 100%;
 } 

 .container2{
  max-width: 1300px;
  margin: auto;
  
 }

#gallery2{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 500px;
}

#gallery2 img{
  width: 100%;
  height: 60%;
}

.desc{
  padding: 15px;
  text-align: center;
}

#lastpg{
  height: 100vh;
  width: 100%;


}